@media (max-width: 320px) {
  /* Tambahkan CSS untuk lesson */
  .header{
    width: auto;
  
    margin-bottom: 50px;
  }
  body{
      width: auto;
      
  }
  .main img{
    width: auto;
    height: auto;
    
  }

  .main .happy{
    height: auto;
    width: auto;
  }
  .main h1{
   
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
  }
  .video video{
    width: 200px;
    
  }
  .pesan h1{
    font-size: 14px;
  }
  .pesan p{
    font-size: 14px;
  }
}
@media (max-width: 425px){
  .header{
    width: auto;
  
    margin-bottom: 50px;
  }
  body{
      width: auto;
      height: auto;
  }
  .main img{
    width: 100%;
    

  }
  p{
   
  }
  .main .happy{
    height: 425px;
    width: auto;
  }
  .main h1{
   
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
  }
  .pesan h1{
    font-size: 14px;
  }
  .pesan p{
    font-size: 14px;
  }
  .video video{
    width: 300px;
  }
}

